#!/usr/bin/env bash

if ! command -v brew >/dev/null 2>&1; then
  echo "Installing Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

{{- if eq .host.arch "arm64" }}
eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{- else }}
eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{- end }}

brew update
brew bundle --verbose --file=/dev/stdin <<EOF
{{ includeTemplate "debian/brewfile" . }}
EOF

{{- if .host.interactive }}
brew upgrade
brew cleanup
{{- end -}}

{{- if eq .host.type "wsl" }}
if [ ! -L /usr/local/bin/xdg-open ]; then
  sudo ln -s /usr/bin/wslview /usr/local/bin/xdg-open
fi
{{- end -}}
