{{ if (and (eq .chezmoi.os "darwin" "linux") (not .headless)) -}}
#!/bin/bash

set -eufo pipefail

extensions=(
        adamhartford.vscode-base64
        davidAnson.vscode-markdownlint
        eamodio.gitlens
        editorconfig.editorconfig
        fcrespo82.markdown-table-formatter
        gitHub.copilot
        github.vscode-github-actions
        gitHub.vscode-pull-request-github
        golang.go
        hashicorp.terraform
        monokai.theme-monokai-pro-vscode
        ms-azuretools.vscode-docker
        ms-kubernetes-tools.vscode-kubernetes-tools
        ms-python.isort
        ms-python.python
        ms-python.vscode-pylance
        ms-vscode-remote.remote-containers
        ms-vscode.azurecli
        oderwat.indent-rainbow
        redhat.vscode-yaml
        vscode-icons-team.vscode-icons
        yzane.markdown-pdf
)

for extension in ${extensions[@]}; do
        code --force --install-extension $extension
done

{{ if (eq .chezmoi.os "darwin") }}
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
defaults delete -g ApplePressAndHoldEnabled || true
{{ end }}

{{ if (eq .chezmoi.os "linux") }}
if ! grep -qF fs.inotify.max_user_watches=524288 /etc/sysctl.conf; then
        echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf
        sudo sysctl -p
fi
{{ end }}

{{ end }}
