# -*-mode:conf-toml-*- vim:ft=toml

# Copyright (c) 2021, Tom Payne (https://github.com/twpayne/dotfiles)
#
# ~/.local/share/chezmoi/.chezmoi.toml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $transient := false -}}{{/* true if this machine is temporary, e.g. a cloud or VM instance */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets from Vault */}}
{{- $wsl := false -}}{{/* true if this is WSL2 */}}
{{- "" -}}

{{/* detect GitHub codespaces and VSCode remote containers */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") -}}
{{-   $headless = true -}}
{{-   $transient = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $transient = true -}}
{{- end -}}

{{- if not $transient -}}
{{-   if eq $hostname "raspberrypi" -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else -}}
{{-     $headless = false -}}
{{-     $transient = true -}}
{{-     $kubernetes = true -}}
{{-   end -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
[cd]
  command = "powershell"
  args = ["-nologo"]
{{ end -}}

{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "Git email address for the author/committer" -}}
{{- end -}}

{{- $git_user := get . "git_user" -}}
{{- if not $git_user -}}
{{-   $git_user = promptString "Git username for the author/committer" -}}
{{- end -}}

{{- $work := get . "work" -}}
{{- if not $work -}}
{{-   $work = promptBool "Is this a work computer" -}}
{{- end -}}
{{- if $work }}
{{- $jira_url := get . "jira_url" -}}
{{- if not $jira_url -}}
{{-     $jira_url = promptString "What is the Jira url" }}
{{- end }}
{{- $jira_user := get . "jira_user" -}}
{{- if not $jira_user -}}
{{-     $jira_user = promptString "What is the Jira username" }}
{{- end }}

{{- if (eq .chezmoi.os "linux") -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $wsl = true -}}
{{-   end }}
{{- end -}}

[data]
  email      = {{ $email | quote }}
  git_user   = {{ $git_user | quote }}
  work       = {{ $work }}
  headless   = {{ $headless }}
  hostname   = {{ $hostname | quote }}
  transient  = {{ $transient }}
  kubernetes = {{ $kubernetes }}
  personal   = {{ $personal }}
  wsl        = {{ $wsl }}
  jira_url   = {{ $jira_url | quote }}
  jira_user  = {{ $jira_user | quote }}
{{- end }}
