# -*-mode:gitignore-*- vim:ft=gitignore

# ~/.local/share/chezmoi/.gitignore
# =============================================================================
# A gitignore file specifies intentionally untracked files that Git should
# ignore. Files already tracked by Git are not affected.
#
# Reference: https://git-scm.com/docs/gitignore

*.deb
*.tar.gz
dot_oh-my-zsh
