# -*-mode:ruby-*- vim:ft=ruby

# ~/.Brewfile
# =============================================================================
# Bundler for non-Ruby dependencies from Homebrew, Homebrew Cask and the Mac
# App Store.
#
# Reference: https://github.com/Homebrew/homebrew-bundle

# 'brew tap'
tap "azure/functions"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "mas-cli/tap"

# 'brew install'
brew "ack"
brew "azure-cli"
brew "azure/functions/azure-functions-core-tools@3"
brew "base64"
brew "cmake"
brew "coreutils"
brew "corkscrew"
brew "curl"
brew "docker"
brew "docker-compose"
brew "etcd"
brew "findutils"
brew "gcc"
brew "gdbm"
brew "git"
brew "git-lfs"
brew "gnupg"
brew "gnu-sed"
brew "gnutls"
brew "go"
brew "go-jira"
brew "gpatch"
brew "grep"
brew "helm"
brew "htop"
brew "hub"
brew "hugo"
brew "jq"
brew install k9s
brew "krew"
brew "kubebuilder"
brew "kubectx"
brew "kubernetes-cli"
brew "make"
brew "ncurses"
brew "node"
brew "npm"
brew "nvm"
brew "pandoc"
brew "php"
brew "python"
brew "qemu"
brew "readline"
brew "rbenv"
brew "screen"
brew "sqlite"
brew "starship"
brew "tree"
brew "watch"
brew "wget"
brew "yarn"
brew "yq"
brew "zplug"
brew "terraform"
brew "terraform-docs"
brew "terraform-ls"
brew "tfk8s"
brew "vault"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"

{{- if eq .chezmoi.os "darwin" }}
brew "bash"
brew "bash-completion"
brew "dockutil"
brew "little-snitch"
brew "micro-snitch"
brew "mas"
brew "slack"
brew "telnet"
{{- end }}

# 'brew install --cask'
cask "brave-browser"
cask "hyper"
cask "font-fira-code"
cask "kaleidoscope"
cask "lens"
cask "macpass"
cask "qlcolorcode"
cask "qlmarkdown"
cask "qlprettypatch"
cask "qlstephen"
cask "spectacle"
cask "tower"
cask "visual-studio-code"

# 'mas'
# mas "Keynote", id: 409183694
# mas "Microsoft Remote Desktop", id: 1295203466
# mas "Xcode", id: 497799835
