# -*-mode:bash-*- vim:ft=bash

# ~/.kube_functions
# =============================================================================
# Kubernetes shell functions sourced by `~/.bashrc` and `~/.zshrc`.

# shellcheck shell=bash

# Kubernetes
# -----------------------------------------------------------------------------

kralpine () {
  kubectl run -i --rm --tty alpine --image=alpine -- sh
}

kexec () {
  kubectl exec -it $1 -- ${2:-bash}
}
