{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

brew bundle --global

{{- if .kubernetes }}
kubectl krew install < Krewfile
{{- end }}

for dockItemLabel in \
        Launchpad \
        Safari \
        Mail \
        FaceTime \
        Maps \
        Photos \
        Contacts \
        Calendar \
        Reminders \
        Notes \
        Music \
        Podcasts \
        TV \
        News \
        Numbers \
        Keynote \
        Pages \
        "App Store" \
        "System Preferences" ; do
        dockutil --find "$dockItemLabel" >/dev/null && dockutil --no-restart --remove "$dockItemLabel"
done

killall Dock

launchctl unload -w /System/Library/LaunchAgents/com.apple.notificationcenterui.plist 2> /dev/null

{{ end -}}
