{{- $refreshPeriod := "168h" }}

{{- if .toolchains.kubernetes }}
[_kubectx]
    type = "file"
    url = 'https://raw.githubusercontent.com/ahmetb/kubectx/master/completion/_kubectx.zsh'
    refreshPeriod = "{{ $refreshPeriod }}"

[_kubens]
    type = "file"
    url = 'https://raw.githubusercontent.com/ahmetb/kubectx/master/completion/_kubens.zsh'
    refreshPeriod = "{{ $refreshPeriod }}"
{{- end }}
