# -*-mode:bash-*- vim:ft=bash

# ~/exports.sh
# =============================================================================
# Additional exports to be used by shell

# https://wiki.archlinux.org/index.php/XDG_Base_Directory
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_RUNTIME_DIR=
{{- if (eq .chezmoi.os "darwin") -}}
  "$TMPDIR"
{{- else if eq .host.type "wsl" -}}
  "/tmp"  # WSL often lacks /run/user directories
{{- else if not .host.headless -}}
  "/run/user/$(id -u)"
{{- else -}}
  "/tmp"
{{- end }}

{{- if not .host.headless }}
export XDG_MUSIC_DIR="$HOME/Music"
export XDG_VIDEOS_DIR="$HOME/Videos"
export XDG_DESKTOP_DIR="$HOME/Desktop"
export XDG_PICTURES_DIR="$HOME/Pictures"
export XDG_DOWNLOAD_DIR="$HOME/Downloads"
export XDG_DOCUMENTS_DIR="$HOME/Documents"
export XDG_TEMPLATES_DIR="$HOME/Templates"
export XDG_PUBLICSHARE_DIR="$HOME/Public"
{{- end }}

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# Increase Bash history size and omit duplicates
export HISTSIZE='32768'
export HISTFILESIZE="${HISTSIZE}"
export HISTCONTROL='ignoreboth'

# Don’t clear the screen after quitting a manual page
export MANPAGER='less -X'

# Ghostty
if [[ "$TERM_PROGRAM" == "ghostty" ]]; then
  export TERM=xterm-256color
fi

# Change default folders
export AQUA_ROOT_DIR="$XDG_DATA_HOME/aqua"
export AQUA_GLOBAL_CONFIG="$XDG_CONFIG_HOME/aqua/aqua.yaml"
export AQUA_POLICY_CONFIG="$XDG_CONFIG_HOME/aqua/aqua-policy.yaml"
export AZURE_CONFIG_DIR="$XDG_DATA_HOME/azure"
export CARGO_HOME="$XDG_DATA_HOME/cargo"
export COMPOSER_HOME="$XDG_CONFIG_HOME/composer"
export CURL_HOME="$XDG_CONFIG_HOME/curl"
export DOCKER_CONFIG="$XDG_CONFIG_HOME/docker"
export GNUPGHOME="$XDG_DATA_HOME/gnupg"
export GOPATH="$XDG_DATA_HOME/go"
export HOMEBREW_BUNDLE_FILE="$XDG_CONFIG_HOME/brew/Brewfile"
export HTTPIE_CONFIG_DIR="$XDG_CONFIG_HOME/httpie"
export INPUTRC="$XDG_CONFIG_HOME/input/.inputrc"
export KREW_ROOT="$XDG_DATA_HOME/krew"
export LESSKEY="$XDG_CONFIG_HOME/less/lesskey"
export LESSHISTFILE="$XDG_CACHE_HOME/less/history"
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME/npm/npmrc"
export NODE_REPL_HISTORY="$XDG_CACHE_HOME/node_repl_history"
export PASSWORD_STORE_DIR="$XDG_DATA_HOME/pass"
export PSQLRC="$XDG_CONFIG_HOME/psql/.psqlrc"
export RUSTUP_HOME="$XDG_DATA_HOME/rustup"
export TERMINFO="$XDG_DATA_HOME/terminfo"
export TERMINFO_DIRS="${XDG_DATA_HOME}/terminfo:/usr/share/terminfo"
export SCREENRC="$XDG_CONFIG_HOME/screen/.screenrc"
export SSH_CONFIG_HOME="$XDG_CONFIG_HOME/ssh"
export SSH_DATA_HOME="$XDG_DATA_HOME/ssh"
export UNISON="$XDG_DATA_HOME/unison"
export VIMINIT='let $MYVIMRC="$XDG_CONFIG_HOME/vim/.vimrc" | source $MYVIMRC'
export WGETRC="$XDG_CONFIG_HOME/wget/wgetrc"
export ZSH_EVALCACHE_DIR="$XDG_CACHE_HOME/zsh-evalcache"

# GPG
# https://stackoverflow.com/a/42265848/96656
{{- if not .host.headless }}
export GPG_TTY=$(tty);
{{- end }}

# Hyper
{{- if eq .host.distro.family "darwin" }}
{{- if not .host.headless }}
launchctl setenv XDG_CONFIG_HOME "$XDG_CONFIG_HOME"
launchctl setenv XDG_DATA_HOME "$XDG_DATA_HOME"
launchctl setenv XDG_CACHE_HOME "$XDG_CACHE_HOME"
launchctl setenv PATH "$PATH"
{{- end }}
{{- end }}

# NodeJS
export NODE_REPL_HISTORY_SIZE='32768';
export NODE_REPL_MODE='sloppy';

# Python
export PYTHONIOENCODING='UTF-8';

# VIM
export EDITOR='vim'

# Editor
{{- if not .host.headless }}
export EDITOR="code --wait"
{{- end -}}

{{- if eq .host.type "wsl" }}
# WSL
export LIBGL_ALWAYS_INDIRECT="1"
export BROWSER="/mnt/c/Program\ Files\ \(x86\)/Google/Chrome/Application/chrome.exe"
{{- end }}

{{- if (and (eq .host.distro.family "darwin") (.host.restricted)) }}
export HOMEBREW_CASK_OPTS="--appdir=~/Applications"
{{- end }}

# Path
add_to_path ()
case ":$PATH:" in
    *:"$1":*)
        ;;
    *)
        export PATH="$1:$PATH"
        ;;
esac

{{- if eq .host.distro.family "darwin" }}
if [ -n "${HOMEBREW_PREFIX-}" ] ; then
  # Add the coreutils path to the front of PATH
  export PATH="$HOMEBREW_PREFIX/opt/coreutils/libexec/gnubin:$PATH"
fi
{{- end }}

add_to_path $KREW_ROOT/bin
add_to_path $CARGO_HOME/bin
add_to_path $AQUA_ROOT_DIR/bin
add_to_path $HOME/.local/bin

unset -f add_to_path
