[include]
    path = ~/.config/git/aliases
    path = ~/.config/git/base
    path = ~/.config/git/branch
    path = ~/.config/git/color
    path = ~/.config/git/merge
    path = ~/.config/git/user
    path = ~/.config/git/wsl
