{{- if or .toolchains.kubernetes }}
packages:
  - name: ahmetb/kubectx@v0.9.5
  - name: ahmetb/kubectx/kubens@v0.9.4
  - name: alexellis/k3sup@0.13.8
  - name: derailed/k9s@v0.27.1
  - name: helm/helm@v3.17.2
  - name: k3d-io/k3d@v5.7.0
  - name: kubernetes-sigs/kubebuilder@v3.15.0
  - name: kubernetes-sigs/krew@v0.4.4
  - name: kubernetes-sigs/kustomize@kustomize/v5.4.0
  - name: kubernetes-sigs/kwok/kwokctl@v0.6.0
  - name: kubernetes/kubeadm@v1.27.0
  - name: kubernetes/kubectl@v1.27.0
  - name: mikefarah/yq@v4.30.7
{{- end -}}
